body {
    font-family: Roboto;
    background: #913328;  
  }
  
  #container {
    height: 525px;
    width: 360px;
    margin: 100px auto;
    background: rgb(246, 235, 235);
    box-shadow: 0 0 3px black;
    border-radius: 20px;
  }
  
  h1 {
    background: rgb(26, 15, 15);
    color: white;
    margin: 0;
    padding: 10px 100px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: normal;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  
  p {
    padding-left: 20px;
  }
  
  form input[type="text"] {
    width: 90px;
  }
  
  input {
    padding-left: 20px;
  }
  
  #billamt {
    font-size: 14px;
    color: red;
    background-color: white;
    width: 60%;
    padding: 5px 5px 8px 8px;
  }
  
  #billamt:focus {
    background: white;
    border: 3px solid rgb(83, 83, 230);
    outline: none;
  }
  
  #peopleamt {
    width: 60%;
    padding: 5px 5px 8px 8px;
    margin-left: 20px;
    color: red;
    background-color: whitesmoke;
    font-size: 14px;
  }
  
  .dollarSign {
    display: inline;
  }
  
  #serviceQual {
    padding: 13px 13px 20px 20px;
    margin-left: 20px;
    font-size: 25px;
  }
  
  button {
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    margin: 30px auto;
    background: rgb(177, 42, 42);
    border-radius: 5px;
    width: 200px;
    height: 50px;
    font-size: 17px;
    color: white;
  }
  
  button:hover {
    background: #642d2b;
    border-bottom-color: black;
  }
  
  button:active {
    position: relative;
    top: 1px;
  }
  
  #totalTip {
    font-size: 30px;
    margin-top: 5px;
    text-align: center;
  }
  
  #totalTip:before {
    content: "Tip amount";
    font-size: 20px;
    font-weight: bold;
    display: block;
    text-transform: uppercase;
  }
  
  #totalTip sup {
    font-size: 20px;
    top: -18px;
  }
  
  #totalTip small {
    font-size: 20px;
    font-weight: bold;
    display: block;
  }